.element{
    width: 100px;
    height: 100px;
    background-color: #0997d3;
    margin: 50px;
    transition-property: transform;
    transform-style: flat;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.element:hover{
    transform: translate(200%)
}